body {
  margin: 0;
  padding: 0;
  background: #04abed;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
}
.box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  transform: rotate(-40deg) skewY(25deg);
  transition: 0.5s;
}
.box:hover {
  top: 20px;
  box-shadow: none;
}
.box::before {
  content: " ";
  position: absolute;
  top: -20px;
  left: 15px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.box:hover::before {
  top: 0;
  left: 0;
  box-shadow: none;
}
.shadow {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
  transition: 0.5s;
  transform: rotate(-40deg) skewY(25deg);
}
.box:hover ~ .shadow {
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
}
