@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
  background: #a740a6;
}

.center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.text {
  position: relative;
  display: block;
  font-size: 10em;
  color: #a740a6;
  line-height: 0.9em;
  text-transform: uppercase;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(255, 255, 255, 1);
}
