body {
  margin: 0;
  padding: 0;
  background: #262626;
  font-family: sans-serif;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  background: #000;
}
.about {
  padding: 40px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.about h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-transform: uppercase;
}
.figure {
  width: 100%;
  height: 100%;
}
.figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: url("../image/flower2.jpg");
  background-position: center center;
  background-size: cover;
  transform-origin: bottom;
  transition: 0.5s;
}
.box:hover .figure::before {
  transform: rotateX(90deg) translateY(-50%);
}
.figure::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: url("../image/flower3.jpg");
  background-position: center center;
  background-size: cover;
  transform-origin: top;
  transition: 0.5s;
}
.box:hover .figure::after {
  transform: rotateX(90deg) translateY(-50%);
}
